.md-form label {
    padding-left: 1rem;
}

legend {
    text-align: initial !important;
    display: block;
    padding-left: 2px;
    padding-right: 2px;
    border: none;
    width: auto !important;
    font-size: initial !important;
    float: none;
    margin-bottom: 0px !important;
}
.nav-pills .nav-link{
    padding: 10px 22px 9px;
}
fieldset {
    min-width: initial !important;
    padding: 15px !important;
    margin: initial !important;
    border: 1px solid !important;
}

fieldset .md-form {
    margin-top: 0px !important;
    padding-bottom: 0px !important;
}

.pt-3-half {
    padding-top: 1.4rem;
}

.compact-btn {
    padding: 0.4rem 0.85rem !important;
    vertical-align: middle;
}

.xcompact-btn {
    padding: 0.2rem 0.6rem !important;
}

.md-form .form-control {
    padding-top: 0.3rem !important;
    /* padding-bottom: 0.3rem !important; */
}

.ajax-loader {
    visibility: hidden;
    background-color: rgba(255, 255, 255, 0.7);
    position: absolute;
    z-index: +2500 !important;
    width: 100%;
    height: 100%;
}

.ajax-loader img {
    position: relative;
    top: 30%;
    left: 35%;
}

.modal-dialog.cascading-modal {
    margin-top: 50px !important;
}

.tab-content {
    padding: 0px !important;
}

.select-wrapper + label{
    top: 0.65rem !important;
    font-size: 1rem !important;
}
.select-wrapper + label{
    top: 0.65rem !important;
    font-size: 1rem !important;
}
.select-wrapper + label.active{
    font-size: 0.8rem !important;
}
#PL-Items .md-form {
    margin-bottom: 1rem !important;
}

.ag-theme-balham .ag-row-odd{
    background-color: #f2f2f2;
}

.ag-theme-balham .ag-header-row{
    color: black;
}

.ag-theme-balham{
    font-size: 13px;
}